/.DS_Store
/AI_model_selection.ipynb
/BrainTumorClassification.ipynb
/Classification101.ipynb
/ClassificationAirlinePassengerSatisfaction.ipynb
/ClassificationCourseCompletion.ipynb
/ClassificationCreditScore.ipynb
/ClusteringForestCover.ipynb
/ClusteringObesity.ipynb
/Coursera.ipynb
/CreditFraudDetect2.ipynb
/CustomerClustering.ipynb
/DecisionTree.ipynb
/DimnesionalityReduction.ipynb
/EnsembleLearningMethods.ipynb
/ExamplePolynomialRegression.ipynb
/ExampleRegularizitonData.ipynb
/FractionCalculator.py
/FraudClassification.ipynb
/HotelReservationDataset.ipynb
/HyperParameterTuning.ipynb
/ML-flow.ipynb
/ManualRegressionExample.ipynb
/Quiz.py
/Regression101.ipynb
/UnsupervisedLearning.ipynb
/YTRecommendedClassification.ipynb
/airline-passenger-satisfaction.zip
/healthDiseaseClassification.ipynb
/images
/mlflow
/mlruns
/requirements.txt
/venv